.ql-container,
.ql-editor {
    height: auto; /* auto-growth */
}

*[quill__html] {
    display: none;

    width: 100%;
    margin: 0;
    background: rgb(29, 29, 29);
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    outline: none;
    padding: 12px 15px;
    line-height: 24px;
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
}

*[quill__html*="-active-"] {
    display: initial;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-container {
    width: 60%;
}

.main-form,
.image-form {
    padding: 20px;
}

/* for gallery
/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
}

/* Style the images inside the grid */
.column img {
    opacity: 0.8;
    cursor: pointer;
}

.column img:hover {
    opacity: 1;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.gallery-container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}

.form-container .form-control {
    border-color: #aaaaaa;
    line-height: 28px;
}

.gallery-images img {
    width: 36px;
}

table.dataTable td.dt-control:before {
    box-shadow: none;
    border: 0;
    background-color: #84bd9d;
}

table.dataTable tr.dt-hasChild td.dt-control:before {
    background-color: #999999;
}

.content::before {
    content: "";
    flex-grow: 1;
}

#borderedAccordion {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
}

#left-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.rainbow-text {
    background: linear-gradient(to right, rgb(164, 3, 223), rgb(198, 79, 222), rgb(220, 108, 166), rgb(241, 154, 224));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
}

.questions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 10px;
}

.question-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-control {
    border-color: #999999;
}

.action-container,
.image-form,
.white-background {
    background-color: white;
    padding: 5%;
}

#magic-container {
    border: 0.8px double;
    border-image: linear-gradient(to right, red, orange, rgb(255, 247, 0), green, blue, indigo, violet) 1;
    border-radius: 10px;
}

#magic-container > * {
    border: 0;
}

.card-body {
    height: 100vh;
}

.edm-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    font-family: sans-serif;
    position: relative;
    height: 24px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.edm-image-container img {
    height: 24px;
    display: block;
}

.edm-image-container input[type="file"] {
    position: absolute;
    opacity: 0;
    height: 24px;
    aspect-ratio: 1 / 1;
    top: 0;
    left: 0;
}

.quill__toolbar {
    display: flex;
    justify-content: space-between;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#image-container {
    width: 100%;
    overflow: hidden;
}

.gallery {
    background-color: white;
}

#image-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#image-container img {
    height: auto;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: transform 0.3s ease;
}

.image {
    box-sizing: content-box;
    margin: 5px;
    height: 100px;
    width: 130px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 250px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
    pointer-events: none;
}

.image:hover img {
    transform: scale(1.1);
}

.image:hover .transparent-box {
    background-color: rgba(185, 210, 245, 0.525);
}

.image:hover .caption {
    transform: translateY(-20px);
    opacity: 1;
}

.image:hover {
    cursor: pointer;
}

.caption > p:nth-child(2) {
    font-size: 0.8em;
}

.opacity-low {
    opacity: 0.5;
}
