#builder-container {
    width: 90%;
    margin: auto;
    margin-top: 1%;
}

.form-inline {
    display: block;
}

.btn {
    background-color: white;
    border-color: var(--bs-btn-bg);
    color: var(--bs-btn-bg);
}

.btn-secondary:hover {
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-bg);
    color: white;
}

.btn-danger:hover {
    background-color: #f27475;
    border-color: #f27475;
    color: white;
}

.btn-class {
    float: right;
    margin-top: 2%;
    bottom: 0;
}

.btn.disabled {
    border-style: dashed;
    background-color: white;
    color: var(--bs-btn-bg);
}

.form-control {
    border-color: #aaaaaa;
}

#member-count {
    margin: auto;
    margin-top: 2%;
    font-size: 20px;
    display: inline-block;
    vertical-align: bottom;
}

#member-count p {
    display: inline;
    margin: 0;
}

#name {
    width: 30%;
}

.no-underline.link-black:hover {
    color: rgb(85, 130, 235);
}

.rules-group-container {
    background: rgba(177, 197, 248, 0.3) !important;
    border-color: #aaaaaa !important;
}

.rule-value-container label {
    width: 200%;
    justify-content: flex-start;
}

.rule-value-container input[type="radio"] {
    margin-right: 5%;
}

.rule-value-container select {
    padding: 1px 20% !important;
}
